body{
   text-align: center;
}

.box-container{
    display: flex;
    justify-content: center;
    
}

.btn{
    height: 150px;
    width: 150px;
    border: 5px solid black;
    border-radius: 20%;
    margin: 1.5rem;
     
}

.pink{
    background-color: #ef476f;
}

.yellow{
    background-color: #ffd166;
}

.green{
    background-color: #06d6a0;
}

.blue{
    background-color: #118ab2;
}

.flash{
    background-color: white;
}